@import url(reset.css);
@import url(font.css);
@import url(typography.css);

*{
    box-sizing: border-box;
}

.clearfix{
    clear: both;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
body{
    display: flex;
    --twitter-color: #50b7f5;
    --twitter-background:#e6ecf0;
}
header{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    width: 275px;
    background-color: black;
}

#header-wrapper{
    
    width: 275px;
    background-color:var(--twitter-background);
    height: 100%;
}
main{
    display: flex;
    width: 990px;
    justify-content: flex-start;
    flex-grow: 1;
    width: 990px;
    background-color: blueviolet;
}
#main-wrapper{
    display: flex;
width: 990px ;
height:100%; 
background-color: yellow;

}

#bottom-navigation{
    visibility: hidden;
    position: fixed;
    height: 52px;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: red; */
}

.side-wrappper{
    display: flex;
    align-items: center;
    cursor:pointer;
}

.side-wrappper .ionic-icon , .twitter-icon{
    padding: 30px;
   

}

.twitter-icon a ion-icon{
    font-weight: 700;
    fill: #50b7f5 !important;
    font-size: 30px;
}

.side-wrappper h2{
    font-weight: 800;
    font-size: 24px;
    margin-right: 20px;
}

.side-wrappper:hover{
    background-color: var(--twitter-background);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;

}
.side-wrappper.active{
    color:var(--twitter-color)
}

#sidebar-tweet{
    width: 100%;
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight:900;
    border-radius:30px;
    height:50px;
    margin-top:20px;   
}

/*feed*/

.feed{

justify-content: flex-start; 
border-right: 1px solid var(--twitter-background);
/* min-width: fit-content; */
overflow-y: scroll;
width: 506px;

}
.feed-header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 50;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px ;


}
.feed-header h2{
    font-size: 20px;
    font-weight: 800;

}
.feed::-webkit-scrollbar{
    display: none;
}

.feed{
    -ms-overflow-style:none;
    scrollbar-width: none;
}
.tweetbox-input img{

    border-radius: 50%;
    height: 40px;

}
.tweetBox{
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
}

.tweetBox form{
    display: flex;
    flex-direction: column;
}
.tweetbox-input{
    display: flex;
    padding: 20px;
}

.tweetbox-input input{
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
}

.tweetBox_tweetButton{
    background-color:var(--twitter-color) ;
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    width:80px;
    height: 40px;
    margin-top: 20px;
   margin-left: auto;

   
}
/*post*/
.posts{
    display: flex;
    height:min-content;
    border-bottom: 1px solid var(--twitter-background);
    margin-bottom: 5px;
}
.header1{
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    /* background-color: blue; */
    width: 40px;
    margin-left: 10px;

}
.header1 .post-avatar img{
    margin-top: 5px;
    margin-right: 2px;
    width: 100%;
    border-radius: 50%;
   
    
}

.header2{
    background-color: red;
    width: 100%;

}

.header2 .header2-part1{
    padding-left: 10px;
    padding-top: 10px;
}
/* header2 .header2-part1 a{
    margin-top: 30px;
} */
.header2 .header2-part2{
    padding-left: 10px;
}

.header2 .header2-part3 img{

    width: 100%;
    padding: 15px;
    border-radius: 30px;
}

.header2-part4 {
    display: flex;
}

.header2-part4 a .material-symbols-outlined{
    margin-left: 70px;
}


   


 
